Templates/Templates/json-develop.zip
Templates/Templates/jsoncpp-master.zip
Templates/jsmn-master.zip
Templates/Templates.VC.db
Templates/Templates.db
Templates/Templates/x64/Debug/FactoryMethod.obj
Templates/Templates/x64/Debug/FactoryMethodTest.obj
Templates/Templates/x64/Debug/Singleton.obj
Templates/Templates/x64/Debug/SingletonTest.obj
Templates/Templates/x64/Debug/Templates.obj
Templates/Templates/x64/Debug/vc140.idb
Templates/Templates/x64/Debug/vc140.pdb
Templates/ipch/TEMPLATES-e5058238/TEMPLATES-92d664d9.ipch
Templates/x64/Debug/Templates.exe
Templates/x64/Debug/Templates.ilk
Templates/x64/Debug/Templates.pdb
